body{background-color: lightgray}

img{
    width: 100px;
    height: 100px;
}

#tennis1 {
    height: 300px;
    width:300px;
    position: relative;
    left: 200px;
    -webkit-animation-name: ball-move;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s;
    /* Chrome, Safari, Opera */
    animation-name: ball-move;
    animation-duration: 6s; }


  @keyframes ball-move {
  0% {
    left: 200px;
    top: 0px; }
  25% {
    left: 500px;
    top: 0px; }
  50% {
    left: 500px;
    top: 200px; }
  75% {
    left: 200px;
    top: 200px; }
  100% {
    left: 200px;
    top: 0px; } }

#tennis2{
    width: 300px;
    height: 300px;
    
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 8s;
    animation-delay: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}

    }

#tennis3{
  width: 300px;
    height: 300px;
    
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 4; /* Safari 4.0 - 8.0 */
    
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 4;
        
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}